<% if (typeof mensaje2 !== 'undefined' && mensaje2) { %>
    <div style="background-color: #4CAF50; color: white; padding: 15px; border-radius: 8px; margin-bottom: 15px; display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
            <div style="margin-right: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" />
                    <polyline points="22 4 12 14.01 9 11.01" />
                </svg>
            </div>
            <div>
                <strong>¡Logro Desbloqueado!</strong> <%= mensaje2 %>
            </div>
        </div>
        <div>
            <button onclick="goBack()" class="btn btn-lg btn-success" style="background-color: #1e7d34; color: #fff;">
                <i class="fas fa-arrow-left"></i> <a href="/tareas" style="color: #fff; text-decoration: none;">Regresar</a>
            </button>
            <script>
                function goBack() {
                    window.location.href = '/tareas'; // Redirige a la vista 'tareasemple'
                }
            </script>
        </div>
        
        
    </div>
<% } %>
