
<table class="table table-striped projects col-md-10 offset-md-1" border="4" style="text-align: center;">
    <thead>
      <tr style="background-color: #0a0f0f; padding: 10px; text-align: left; border: 1px solid #ddd; width: 150px; text-align: center;">
        <th>
          Fecha de Contratación</th>
        <th>
          Total en dólares de salarios pagados</th>
      </tr>
    </thead>
    <tbody>
      <% empleadosPorFecha.forEach((empleado) => { %>
        <tr>
          <td><%= new Date(empleado.fechaContratacion).toLocaleDateString('es-ES', {
            day: 'numeric',
            month: 'numeric',
            year: 'numeric',
          }) %></td>
          <td>$<%= empleado.totalSalarios %></td>
        </tr>
      <% }); %>
  
      <tr>
        <td >
          Total salarios pagados:</>
        <td >
          $<%= totalSalariosGeneral %>
        </td>
      </tr>
    </tbody>
  </table>
  